CLIENT_ID=BOT_CLIENT_ID
GUILD_ID=DISCORD_SERVER_ID
TOKEN=BOT_TOKEN

ROLE_MEMBER=MEMBER_ROLE_ID
ROLE_DONATUR=DONATUR_ROLE_ID
ROLE_BILLION=BILLION_ROLE_ID
ROLE_RICHMAN=RICHMAN_ROLE_ID
ROLE_DEPUTY=DEPUTY_ROLE_ID
ROLE_FOUNDER=FOUNDER_ROLE_ID

PARTY_ROLE_MINECRAFT=MINECRAFT_PARTY_ROLE_ID
PARTY_ROLE_GROWTOPIA=GROWTOPIA_PARTY_ROLE_ID
PARTY_ROLE_ROBLOX=ROBLOX_PARTY_ROLE_ID
PARTY_ROLE_FREEFIRE=FREEFIRE_PARTY_ROLE_ID
PARTY_ROLE_MOBILELEGENDS=MOBILELEGENDS_PARTY_ROLE_ID
PARTY_ROLE_GENSHINIMPACT=GENSHINIMPACT_PARTY_ROLE_ID
PARTY_ROLE_VALORANT=VALORANT_PARTY_ROLE_ID
PARTY_ROLE_NEVERLAND=NEVERLAND_PARTY_ROLE_ID

REPORT_CHANNEL=REPORT_CHANNEL_ID
HONEYPOT_CHANNEL=HONEYPOT_CHANNEL_ID
FEEDBACK_CHANNEL=FEEDBACK_CHANNEL_ID
